/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

html {
  font-family: sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter-Variable";
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var( --background-image-gradient);
  background-attachment: fixed; 
  color: var(--text-color);
  font-family: var(--pressstart2p-regular);
  font-variation-settings: var(--font-inter-bold);
  font-weight: 400;
  line-height: 1;
  text-align: left;
  overflow: auto
}

.header {
  width: min(698px, 99%);
  height: clamp(20.1875rem, 19.2852rem + 3.8498vw, 22.75rem);
  background-color: var(--background-colot-theme);
  border: var(--main-border-style);
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-block-start: 120px;
}

.title {
  font-size: 65px;
  margin-block-end: -5px;
}

.subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.theme-menu {
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-inline-start: 17px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: var(--background-colot-theme);
  border: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  opacity: 0.6;
  transition: all 0.5s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: all 0.5s ease;
}

.theme-menu__button:hover, .theme-menu__button:disabled {
  opacity: 0.6;
  transition: all 0.5s ease;
}

/* псевдоэлемент со стрелочкой на меню выбора темы */
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
}

/* общие стили для карточек */

.main__post-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  font-family: var(--inter-variable);
  margin-block-start: 105px;
}

.main__list-item {
  font-size: 18px;
  width: min(698px, 99%);
  border: var(--main-border-style);
  background-color: var(--background-colot-theme);
  overflow: hidden;
}

.main__title {
  font-size: 18px;
  min-height: 31px;
  padding: 3px 24px 3px 10px;
  line-height: 21.78px;
}

.main__img-logo {
  position: absolute;
  z-index: 1;
  opacity: var(--main__img-logo-opc);
  color: var(--logo-color);
  font-family: var(--pressstart2p-regular);
  font-size: 14px;
  text-shadow: -1px 0 var(--logo-border), 0 1px var(--logo-border), 1px 0 var(--logo-border), 0 -1px var(--logo-border);
  margin-block-start: 27px;
  right: 27%;
}

@supports (-webkit-text-stroke: var(--logo-border)) or (text-stroke: var(--logo-border)) {
  .main__img-logo {  
    -webkit-text-stroke: var(--logo-border);
    text-stroke: var(--logo-border);
    text-shadow: none;
  }
}

.main__image {
  border-top: var(--main-border-style);
  border-bottom: var(--main-border-style);
  width: 150%;
  height: 100%;
  right: 48%;
  position: relative;
}

.main__content{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.main__content-text {
  line-height: 21px;
  font-variation-settings: var(--font-inter-normal);
}

/* 2я карточка */
.image-first-sprint {
  filter: saturate(0.3);
}
/* 3я карточка */
.content-first-sprint {

}

.main__img-logo-css {
  margin-inline-start: clamp(16.375rem, 8.915rem + 31.831vw, 37.563rem);
}

.image-first-sprint-ready {
  filter: saturate(3);
}
/* 4я карточка */
.main__img-logo-desigions {
  margin-inline-start: clamp(13rem, 6.2rem + 29.014vw, 32.313rem);
}

.image-second-sprint-start {
  filter: hue-rotate(30deg);
}
/* 5я карточка */

.main__img-logo-care {
  margin-inline-start: clamp(19.125rem, 12.325rem + 29.014vw, 38.438rem);
}

.image-second-sprint-ready {
  filter: invert(1);
}
/* 6я карточка */

.main__img-logo-support {
  margin-inline-start: clamp(14.75rem, 7.95rem + 29.014vw, 34.063rem);
}

.image-third-sprint-start {
  filter: sepia(1);
}
/* 7я карточка */
.main__img-logo-lifes-style{
  width: 280px;
  margin-inline-start: clamp(5.125rem, -1.675rem + 29.014vw, 24.438rem);
}

.image-third-sprint-ready {
  filter: blur(20px);
}
/* 8я карточка */
.main__img-logo-experience {
  margin-inline-start: clamp(12.125rem, 5.325rem + 29.014vw, 31.438rem);
}

.image-now {
  filter: hue-rotate(90deg) blur(2px) saturate(80%) sepia(0.5);
}
/* стили для сердца */
.card-button {
  display: flex;
  justify-content: end;
}

.card__icon-button {
  display: flex;
  cursor: pointer;
  height: 38px;
  align-items: center;
  justify-content: center;
  border: transparent;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--main-border-style);
  transition: all 0.5s ease;
}

.sparks {
  opacity: 0;
}

.like-icon {
  transition: center;
}

.like-icon .core {
  fill: none;
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s;
}

.like-icon:active .core {
  fill: var(--heart-main-body);
  transition: fill 0.3s; 
}

.like-icon .main-body {
  fill: none;
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill 0.3s 0.05s;
}  

.like-icon:active .core .main-body .contour {
  fill: var(--heart-main-body);
  transition: fill 0.3s 0.05s; 
}

.like-icon.is-liked .core {
  fill: var(--heart-main-body);
  transition: fill 0.3s; 
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-body);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .countour {
  fill: var(--heart-main-body);
  transition: fill 0.3s 0.06s;
}

/* кнопка like */
.card__like-button {
  font-family: var(--pressstart2p-regular);
  font-weight: 400;
  width: 130px;
  height: 38px;
}

/* кнопка save и like */
.button:focus {
  outline: none;
}

.button:focus-visible {
  position: relative;
  box-shadow: 2px 2px;
  transition: all 0.5s ease;
}

.button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--text-color);
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.button:hover:after {
  width: 100%;
  background-blend-mode: difference;
}

.button {
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: var(--main-border-style);
  background-color: var(--background-colot-theme);
  font-size: 14px;
  line-height: 12.6px;
}

.button__save {
  display: flex;
  margin: 45px auto 103px;
  padding-inline-end: 20px;
  min-width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  min-height: 55px;
}

.floppy-svg-save {
  margin: auto ;
  width: 45px;
  color: var(--blend-mode-button);
  mix-blend-mode: difference;
  z-index: 2;
}

.button-text {
  position: relative;
  color: var(--blend-mode-button);
  align-self: center;
  mix-blend-mode: difference;
  z-index: 2;
}

/* всплывающее окно */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog-save {
  margin-block-start: 27%;
  color: var(--text-color);
  background-color: var(--background-colot-theme);
  width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  min-height: 191px;
  max-height: 193px;
  padding: 30px;
}

.dialog-conteiner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-conteiner-floppy {
  display: flex;
  gap: 12px;
}

.floppy-svg-dialog {
  color: var(--blend-mode-button);
  mix-blend-mode: difference;
  z-index: 2;
}

.dialog__button-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

.dialog__button-ok {
  width: 293px;
  height: 38px;
}

@media (width <= 375px) {

  .header {
    padding-block-end: 15px;
  }

  .title {
    font-size: 49px;
  }

  .main__post-list {
    margin-block-start: 105px;
    gap: 50px;
  }

  .main__img-logo {
  right: 4%;
  }

  .button__save {
    flex-direction: column;
    width: 306px;
    height: 86px;
    padding-inline-end: 0;
    padding-block-end: 17px;
  }

  .floppy-svg-save {
    height: 30px;
  }

  .dialog-save {
    margin-block-start: 78%;
  }
}

