/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --background-colot-theme: #000;
    --background-image-gradient: 
    repeating-linear-gradient(90deg, #000 0 2px, rgb( 0 0 0 / 0) 2px 4px), 
    repeating-linear-gradient(180deg, #000 0 2px, rgb( 0 0 0 / 0) 2px 4px), 
    linear-gradient(to top,#007f0c 0%,#004306 100%);
    --main-border-style: 2px solid #00CC14;
    --text-color: #00CC14;
    --svg-color: #00CC14;
    --pressstart2p-regular: "Press Star 2P", fantasy;
    --inter-variable: "Inter-Variable", sans-serif;
    --logo-color: rgb(0, 204, 20, 0.5);
    --logo-border: 1px #000;
    --font-inter-bold: 'wght' 785, 'slnt' 0;
    --font-inter-normal: 'wght' 465, 'slnt' 0;
    --main__img-logo-opc: 1;
    --blend-mode-button: #00cc14;
    --heart-contour: #00cc14;
    --heart-main-body: #ff0000; 
}

:root.theme-light {
    --background-colot-theme: #ffffff;
    --background-image-gradient:
    repeating-linear-gradient(90deg,#d3d3d3 0 2px,rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg,#d3d3d3 0 2px,rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg,#e7e7e7 0%,#e7e7e7 0.01%,#1a1a1a 100%);
    --main-border-style: 2px solid #000000;
    --text-color: #000000;
    --svg-color: #000000;
    --pressstart2p-regular: "Press Star 2P", fantasy;
    --inter-variable: "Inter-Variable", sans-serif;
    --logo-color: rgb(0, 0, 0, 0.8);
    --logo-border: 1px #ffffff;
    --font-inter-bold: 'wght' 700;
    --font-inter-normal: 'wght' 400;
    --main__img-logo-opc: 0.6;
    --blend-mode-button: #fff;
    --heart-contour: #000000; 
    --heart-main-body: #ff0000;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-colot-theme: #ffffff;    
        --background-image-gradient: 
        repeating-linear-gradient(90deg,#d3d3d3 0 2px,rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg,#d3d3d3 0 2px,rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg,#e7e7e7 0%,#e7e7e7 0.01%,#1a1a1a 100%);
        --main-border-style: 2px solid #000000;
        --text-color: #000000;
        --svg-color: #000000;
        --pressstart2p-regular: "Press Star 2P", fantasy;
        --inter-variable: "Inter-Variable", sans-serif;
        --logo-color: rgb(0, 0, 0, 0.8);
        --logo-border: 1px #ffffff;
        --font-inter-bold: 'wght' 700;
        --font-inter-normal: 'wght' 400;
        --main__img-logo-opc: 0.6;
        --blend-mode-button: #fff;
        --heart-contour: #000000;
        --heart-main-body: #ff0000;
    }
}