/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --background-colot-theme: #000;
    --background-image-gradient: 
    repeating-linear-gradient(90deg, #000 0 2px, rgb( 0 0 0 / 0) 2px 4px), 
    repeating-linear-gradient(180deg, #000 0 2px, rgb( 0 0 0 / 0) 2px 4px), 
    linear-gradient(to top,#007f0c 0%,#004306 100%);
    --main-border-style: 2px solid #00CC14;
    --text-color: #00CC14;
    --svg-color: #00CC14;
    --pressstart2p-regular: "Press Star 2P", fantasy;
    --inter-variable: "Inter-Variable", sans-serif;
    --logo-color: rgb(0, 204, 20, 0.5);
    --logo-border: 1px #000;
    --font-inter-bold: 'wght' 785, 'slnt' 0;
    --font-inter-normal: 'wght' 465, 'slnt' 0;
    --main__img-logo-opc: 1;
    --blend-mode-button: #00cc14;
    --heart-contour: #00cc14;
    --heart-main-body: #ff0000; 
}
